Checks: >
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-override,
  readability-identifier-naming,
  readability-magic-numbers,
  readability-function-cognitive-complexity,
  readability-container-size-empty
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0;1;2;3;4;5;8;10;16;32;64;100'
  - key: readability-function-cognitive-complexity.Threshold
    value: '25'